/*#sales_item_modal .modal-content{
    min-width:900px;
}*/

aside .metis-menu{
    background-image: url(/crm/uploads/side-bar-menu-bgr.jpg) !important;
}
aside .metis-menu li{
    background-color: rgba(0, 126, 186, 0.5);
}
aside .metis-menu li.active{
    background-color: rgba(0, 0, 0, 1) !important;
}

#list_view_developments .col-md-10,
#list_view_developments .col-md-2,
#list_view_developments .col-md-6
{
    padding: 0;
}


#list_view_development_assessors .row .col-md-6{
    padding-top: 7px !important;
}

#list_view_developments .row{
    margin:7px 0;
    border: grey 1px dashed;
    border-radius ;
}


#list_view_developments .col-md-2 img{
    height:64px;
    width:64px;
    margin: 14px 7px;
}

.list_view_assessors .row,
.list_view_assessors .col-md-6{
    padding: 7px 0 !important;
}

.list_view_assessors h4,
.list_view_assessors img
{
    float: left !important;
    color: #0094DA;
    padding-left:10px;
}
.list_view_assessors img{
    width: 32px;
}


.img_radius{
    /*border: solid 5px #DF6626;*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}

.drop_container {
    width: 478px;
    height: 95px;
    position: absolute;
    z-index: 2;
}

#window_unity .row {
    display: flex;
    padding-right: 2%;
}

#map_locations{
    height: 260px;
}

#upload_photos_container .k-file-success {
    color: #479b49;
    width: 29%;
    /*width: 23%;*/
    float: left;
}

#upload_photos_container .upload_photos_item {
    display: block;
}

#upload_photos_container .upload_photos_item img{
    display: block;
    width: 100%;
    max-height: 78px;
    min-height: 78px;
    /*max-height: 118px;
    min-height: 118px;*/
}

#upload_photos_container .upload_photos_item span{
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.fa_medium{
    font-size: 1.6em;
}
.fa_normal{
    color: #337ab7;
}
#development_features_form .k-listview{
    border: 0;
    padding-left: 7px;
    padding-right:4px;
}
#development_features_form h4{
    font-weight: 500;
    font-size: 15px;
    border-bottom: 1px solid #337ab7;
    padding-bottom:7px;
}

.height_10{
    height: 10px;
}
.height_20{
    height: 20px;
}
.height_32{
    height: 32px;
}
.height_64{
    height: 64px;
}

.padTop32{
    padding-top: 32px !important;
}

#window_unity{
    display: none;
}

#window_unity input.form-control{
    width:95% !important;
}

.border-b-grey{
    border-bottom: 1px solid #f0f0f0;
}
.border-t-grey{
    border-top: 1px solid #f0f0f0;
}