/*#sales_item_modal .modal-content{
    min-width:900px;
}*/

#window_unity .row {
    display: flex;
    padding-right: 2%;
}

#map_locations{
    height: 260px;
}

#upload_photos_container .k-file-success {
    color: #479b49;
    width: 29%;
    /*width: 23%;*/
    float: left;
}

#upload_photos_container .upload_photos_item {
    display: block;
}

#upload_photos_container .upload_photos_item img{
    display: block;
    width: 100%;
    max-height: 78px;
    min-height: 78px;
    /*max-height: 118px;
    min-height: 118px;*/
}

#upload_photos_container .upload_photos_item span{
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.fa_medium{
    font-size: 1.6em;
}
.fa_normal{
    color: #337ab7;
}
#development_features_form .k-listview{
    border: 0;
    padding-left: 7px;
    padding-right:4px;
}
#development_features_form h4{
    font-weight: 500;
    font-size: 15px;
    border-bottom: 1px solid #337ab7;
    padding-bottom:7px;
}

.height_10{
    height: 10px;
}
.height_20{
    height: 20px;
}
.height_32{
    height: 32px;
}
.height_64{
    height: 64px;
}

.padTop32{
    padding-top: 32px !important;
}

#window_unity{
    display: none;
}

#window_unity input.form-control{
    width:95% !important;
}

.border-b-grey{
    border-bottom: 1px solid #f0f0f0;
}
.border-t-grey{
    border-top: 1px solid #f0f0f0;
}