/*#sales_item_modal .modal-content{
    min-width:900px;
}*/

.fa_medium{
    font-size: 1.6em;
}
.fa_normal{
    color: #337ab7;
}
#development_features_form .k-listview{
    border: 0;
    padding-left: 7px;
    padding-right:4px;
}
#development_features_form h4{
    font-weight: 500;
    font-size: 15px;
    border-bottom: 1px solid #337ab7;
    padding-bottom:7px;
}

.height_10{
    height: 10px;
}
.height_20{
    height: 20px;
}
.height_32{
    height: 32px;
}
.height_64{
    height: 64px;
}

.padTop32{
    padding-top: 32px !important;
}

#window_unity{
    display: none;
}

#window_unity input.form-control{
    width:95% !important;
}

.border-b-grey{
    border-bottom: 1px solid #f0f0f0;
}
.border-t-grey{
    border-top: 1px solid #f0f0f0;
}