body{
    background-color: #f6f6f6;
}

#descripcion.hidden-sm{
    line-height: 1.715;
    padding-top: 7px;
}

.search-title {
    position: absolute;
    top: 0;
    z-index: 200;
    margin: 0;
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
}
.main-advance-search .container{
    padding-top: 30px !important;
}

.submit-property-header h2,
.submit-property-header h3,
.submit-property-header p,
.submit-property-placeholder p{
    color: white !important;
}
.submit-property-placeholder h3.submit-property-title{
    color: #50b848 !important;
}

.advance-search-form .option-bar .k-dropdown{
    width: 100%;

}
.advance-search-form .option-bar .k-dropdown .k-dropdown-wrap{
    height: 46px;
}
.advance-search-form .option-bar .k-dropdown .k-dropdown-wrap .k-input{
    height: 44px;
    line-height: 44px;
}
.advance-search-form .option-bar .k-dropdown .k-dropdown-wrap .k-icon{
    margin-top: 16px;
    margin-bottom: 16px;
}


#carousel_home img,
#carousel_home1 img{
    width: 100%;
    height: 670px;
}


#featured_developments_listview .col-xs-6{
    padding: 0;
}
#featured_developments_listview .col-xs-6 article{
    margin-left: 15px;
    margin-right: 15px;
}
#featured_developments_listview .col-xs-6 article img{
    min-height: 209px;
    max-height: 209px;
}
#featured_developments_listview .col-xs-6 article .property-description{
    width: 268px;
}



#sample_developments_listview .col-md-4{
    padding: 0;
}
#sample_developments_listview .col-md-4 article{
    padding: 0 15px;
}
#sample_developments_listview .col-md-4 article img{
    min-height: 325px !important;
    max-height: 325px !important;
}


#developments_listview.k-listview .title-and-meta{
    padding: 0 !important;
}
#developments_listview.k-listview .title-and-meta .container_{
    padding: 25px 35px 0;
}

#developments_listview.k-listview .property-description{
    padding: 0 !important;
}
#developments_listview.k-listview .property-description .container_{
    padding: 25px 45px 0;
}
#developments_listview.k-listview .property-description .container_ #descripcion
{
    line-height: 1.715 !important;
}
#developments_listview.k-listview .property-description {
    min-height: 319px !important;
}
#developments_listview.k-listview .property-thumbnail img {
    max-height: 319px !important;
    min-height: 319px !important;
}


.height_10{
    height: 10px;
}
.height_20{
    height: 20px;
}
.height_32{
    height: 32px;
}
.height_64{
    height: 64px;
}

.header {
    height: auto;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.45);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.45);
    box-shadow: 0 0 8px rgba(0,0,0,0.45);
    padding: 10px;
    min-width: 540px;
    position: relative;
    background: #fff;
    z-index: 999;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    min-height: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateZ(0);
}

.flex-header{
    display: flex;
}

.header .flex-header .logo-header-wrap {
    width: 170px;
    height: 40px;
    float: left;
}
.header .flex-header .logo-header-wrap img {
    background-color: #0094DA;
}

#myCarousel{
    padding-top: 20px;
}
.carousel-control{
    background-image: none !important;
}
.carousel-inner{
    background-color: #EEEEEE !important;
}
.card .card-content .k-listview{
    border: 0;
    padding-left: 20px;
}
.fa_medium{
    font-size: 1.6em;
}
.fa_normal{
    color: #337ab7;
}

.card {
    display: block;
    width: auto;
    height: auto;
    background-color: #fff;
    color: #000;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    position: relative;
    margin-bottom: 25px;
}

.card .card-content {
    padding: 16px;
}
.no-padding-bottom {
    padding-bottom: 0!important;
}


.card .card-title h1 {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 7px;
    font-weight: 400;
}

.card .card-title a {
    padding-left: 5px;
    color: #666;
    text-decoration: none;
}

#carousel_home .carousel-inner > .item > img,
#carousel_home .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
      max-height: 585px;
      min-height: 585px;
  }

#myCarousel .carousel-inner > .item > img,
#myCarousel .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
      max-height: 585px;
      min-height: 585px;
  }

 .ctas-ficha {
    display: flex;
    justify-content: space-around;
}
.card .card-content {
    padding: 16px;
}
/*.ctas-ficha .btn-primary {
    background-color: #f60;
    color: #fff;
    border: 1px solid #f60;
}*/
.ctas-ficha .btn {
    width: 30%;
    margin: 0;
}

.list {
    margin-bottom: 20px;
}
body#ficha .location #imgVar, body#ficha .location #imgMap {
    width: 100%;
    height: 260px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: block;
}
body#ficha .card .clicvermapa {
    z-index: 20;
}

.card.datos-desarrollos {
    padding-bottom: 10px;
}
body#ficha .timeline-table {
    position: relative;
    margin: 20px 0;
}
.timeline-table table {
    position: relative;
    width: 100%;
    z-index: 10;
}
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.timeline-table table .timeline-name:first-child {
    text-align: left;
}
.timeline-table table .timeline-name {
    text-align: center;
    padding-bottom: 15px;
    font-size: 16px;
    color: #ccc;
    font-weight: 300;
}
.timeline-table table .timeline-name span {
    display: inline-block;
    white-space: nowrap;
}
.timeline-table table .timeline-point:first-child {
    text-align: left;
}
.timeline-table table .timeline-point {
    text-align: center;
    max-width: 25%;
}
.timeline-table table .timeline-point .timeline-circle {
    border-radius: 11px;
    background: #fff;
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid #000;
}
 .timeline-table table .timeline-point:first-child {
    text-align: left;
}
.timeline-table table .timeline-point .timeline-circle.activo {
    background: #000;
}
.timeline-table table .timeline-point:last-child {
    text-align: right;
}
.timeline-table table .timeline-point {
    text-align: center;
    max-width: 25%;
}

.card .partial {
    max-height: 360px;
    overflow: hidden;
    position: relative;
    display: block;
}
.aviso-unidades h3 {
    margin: 0 15px;
}

.aviso-datos ul span, .aviso-datos-anunciante ul span, .aviso-datos ul li span, .aviso-datos-anunciante ul li span {
    display: inline-block;
    font-weight: 300;
}
.aviso-datos ul, .aviso-datos-anunciante ul, .aviso-datos ul li, .aviso-datos-anunciante ul li {
    list-style: none;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    padding-left: 0;
}
.aviso-datos ul i, .aviso-datos-anunciante ul i, .aviso-datos ul li i, .aviso-datos-anunciante ul li i {
    font-size: 24px;
    display: inline-block;
    margin-right: 20px;
}
.card .card-content h3, .card .card-content .h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    margin-top: 0;
}

/*#sales_item_modal .modal-content{
    min-width:900px;
}*/

#window_unity{
    display: none;
}

#window_unity input.form-control{
    width:95% !important;
}

.border-b-grey{
    border-bottom: 1px solid #f0f0f0;
}
.border-t-grey{
    border-top: 1px solid #f0f0f0;
}